<div class="app-login">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="{{ 'login.placeholder.username' | translate }}"
        autocomplete="off"
        formControlName="username">
      <mat-error *ngIf="loginForm.get('username').invalid">
        {{ 'login.error.username-required' | translate }}
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="{{ 'login.placeholder.password' | translate }}"
        autocomplete="new-password"
        formControlName="password">
      <mat-error *ngIf="loginForm.get('username').invalid">
        {{ 'login.error.password-required' | translate }}
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      color="primary"
      mat-raised-button>
      {{ 'login.submit' | translate }}
    </button>
  </form>
</div>
